<style>
    body {
        background-color: #FFE5E7;
    }
</style>
<div class="mt-4">
    <div class="row">
        <div class="col-lg-9">
            <h3>Cập nhật bài viết</h3>

            <form class="mt-4" method="POST" action="/news/{{news._id}}?_method=PUT">
                <div class="form-group">
                    <label for="name">Tên bài viết</label>
                    <textarea class="form-control" id="name" name="name">{{news.name}}</textarea>
                </div>
                <div class="form-group">
                    <label for="description">Mô tả</label>
                    <textarea class="form-control" id="description" name="description">{{news.description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="content">Nội dung</label>
                    <textarea class="form-control" id="content" name="content">{{news.content}}</textarea>
                    {{!-- <input type="text" class="form-control" value="{{news.content}}" id="content" name="content" /> --}}
                </div>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </form>
        </div>
        <div class="col-lg-0.1">
            <div class="abc"></div>
        </div>
    </div>
</div>
