<style>
    body {
        background-color: #FFE5E7;
    }
</style>
<form class="mt-4" name="container-form" method="POST" action="/films/handle-form-actions">
    <div>
        <h3>Danh sách phim</h3>
        <a class="trash" href="/me/trash/films" style="color: #ff5050;"><span class="oi oi-trash"></span>({{deletedCount}})</a>

        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all" />
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>

            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">-- Chọn hành động --</option>
                <option value="delete">Xóa</option>
            </select>

            <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Thực hiện</button>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col" colspan="2">
                    Tên phim {{{sortable 'name' _sort}}}
                </th>
                <th scope="col" colspan="2">
                    Thời gian tạo {{{sortable 'createdAt' _sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each films}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="filmIds" value="{{this._id}}" />
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/films/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-film-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng phim nào.
                    <a href="/films/create">Đăng phim</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete film--}}
<div id="delete-film-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa phim?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
<div class="modal-body">
                <p>Bạn chắc chắn muốn xóa phim này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-film" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-film-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var filmId;
        var deleteForm = document.forms["delete-film-form"];
        var containerForm = $('form[name="container-form"]');
        var btnDeleteFilm = document.getElementById("btn-delete-film");
        var checkboxAll = $("#checkbox-all");
        var filmItemCheckbox = $('input[name="filmIds"]');
        var checkAllSubmitBtn = $(".check-all-submit-btn");

        $("#delete-film-modal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            filmId = button.data("id");
        });

        btnDeleteFilm.onclick = function () {
            console.log("filmId = " + filmId);
            deleteForm.action = "/films/" + filmId + "?_method=DELETE";
            deleteForm.submit();
        };

        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop("checked");
            filmItemCheckbox.prop("checked", isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        filmItemCheckbox.change(function () {
            var isCheckedAll = filmItemCheckbox.length === $('input[name="filmIds"]:checked').length;
            checkboxAll.prop("checked", isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="filmIds"]:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.attr("disabled", false);
            } else {
                checkAllSubmitBtn.attr("disabled", true);
            }
        }
    });
</script>